*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    forced-color-adjust: none; /* nel caso in cui ci siano temi forzati nel browser 
    evita che i colori si sovrascrivano alle indicazioni di css */
}

#main-div{
    margin: 200px auto; /* 200 top e bottom e auto left e right */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:300px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    background: #ffb366;
}

#button-divs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 36px;
    margin: auto;
    
}

#number-div{
    font-size: 40px;
    padding-top: 10px;
}

.buttons{
    padding: 2px 4px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ff8a80;
    color: #1f1f1f;
    border: 1px solid #b66a6a;
}

.buttons:hover{
    background-color: #ff8f8f;
}